body{
	background-color: #777;
}

header{
	background-color:#ebebeb;
	text-align: center;
	margin-left: 200px;
	margin-right: 300px;
	margin-top:10px;
	margin-bottom: 10px;
	padding-top:10px;
	height:70px;
	width:960px;
	font-size:18px;
	color:#777;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
}

nav{
	background-color:#ebebeb;
	text-align: center;
	margin-left: 200px;
	margin-right: 300px;
	margin-top:10px;
	margin-bottom: 10px;
	padding-top:20px;
	height:70px;
	width:960px;
	font-size:18px;
	color:#777;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
}

.section{
	background-color:#ebebeb;
	text-align: center;
	margin-left: 200px; 
	margin-top:10px;
	margin-bottom: 10px;
	margin-right:20px;
	padding-right:15px;
	height:350px;
	width:495px;
	font-size:18px;
	color:#777;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
	float:left;

}

.aside{
	background-color:#ebebeb;
	text-align: center;
	margin-top:10px;
	margin-bottom: 10px;
	height:350px;
	width:430px;
	font-size:18px;
	color:#777;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    float:left;
  
}

.article{
	background-color: #777;
	margin-left: 15px; 
	margin-right:15px;
	margin-top:30px;
	padding-top:20px;
	height:250px;
	width:485px;
	font-size:18px;
	color:#ebebeb;

}

.h-div{
	background-color:#ebebeb;
	text-align: center;
	margin-left: 20px; 
	margin-right: 20px;
	padding-top:10px;
	padding-bottom:10px;
	height:60px;
	width:450px;
	font-size:18px;
	color:#777;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

.paragraph{
	background-color:#ebebeb;
	text-align: center;
	margin-left: 20px; 
	margin-right: 20px;
	margin-top: 10px;
	padding-top:10px;
	padding-bottom:10px;
	height:60px;
	width:450px;
	font-size:18px;
	color:#777;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
}

.container{
	width:960px;
}

footer{
	background-color:#ebebeb;
	text-align: center;
	margin-left: 200px;
	margin-right: 300px;
	margin-top:400px;
	margin-bottom: 10px;
	padding-top:20px;
	height:70px;
	width:960px;
	font-size:18px;
	color:#777;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
}